$bdColor: #999
.container
  width: 100%
  margin: 20px 0
  border: 1px solid $bdColor
  border-collapse: collapse

  th, td
    border: 1px solid $bdColor
    cursor: pointer

  th
    padding: 10px 13px 10px 10px
    text-align: left
    user-select: none

  td
    padding: 10px

.sortedAsc, .sortedDesc
  position: relative
  &::after
    content: ''
    position: absolute
    width: 8px
    height: 10px
    border: 5px solid transparent
    border-left-width: 4px
    border-right-width: 4px
    border-top-color: white

.sortedAsc
  &::after
    transform: translateY(75%) translateX(6px)

.sortedDesc
  &::after
    transform: translateY(25%) translateX(6px) rotate(180deg)
