@import '../../_mixins'
@import '../../_variables'

.container
  +selectFormReset
  display: inline
  @media (max-width: 575px)
    display: flex
    justify-content: flex-end
    align-items: center
  select
    width: auto
    background: white !important
    color: $textColor !important
    border-bottom: 1px solid $bdColor
  label
    margin-right: 10px
    font-size: 15px
