@import '_variables.sass'

.container
  max-width: 1000px
  margin: 100px auto
  padding: 0 15px

.topSection
  display: flex
  justify-content: space-between
  align-items: flex-end
  padding: 10px 0
  // background: white

.footer
  display: flex
  justify-content: flex-end
  margin-top: 30px
  font-size: 14px
  color: rgba($textColor, 0.6)
